<!DOCTYPE html>
<html lang="en">

<head>
    <title>Itinerista: An Itinerary Generarator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Traveler Signup Modal -->
    <div class="modal fade" id="travelerSignupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Traveler Sign Up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <form method="POST" action="">
                        {{ form.csrf_token }}
                        <hr> {{ form.firstName.label}} {{ form.firstName(size=20) }}
                        <hr> {{ form.lastName.label}} {{ form.lastName(size=20) }}
                        <hr> {{ form.emailAddress.label}} {{ form.emailAddress(size=20) }}
                        <hr> {{ form.password.label}} {{ form.password(size=20) }}
                        <hr> {{ form.travelerSubmit }}
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Local Signup Modal -->
    <div class="modal fade" id="localSignupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Local Sign Up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <form method="POST" action="">
                        {{ form.csrf_token }}
                        <hr> {{ form.firstName.label}} {{ form.firstName(size=20) }}
                        <hr> {{ form.lastName.label}} {{ form.lastName(size=20) }}
                        <hr> {{ form.emailAddress.label}} {{ form.emailAddress(size=20) }}
                        <hr> {{ form.password.label}} {{ form.password(size=20) }}
                        <hr> {{ form.localSubmit }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Itinerista: An Itinerary Generator</h3>
        </div>

        <div class="row signup">
            <!--Traveler Signup Button-->
            <div class="col-lg-6">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#travelerSignupModal">For Travelers</button>
            </div>

            <!--Local Signup Button-->
            <div class="col-lg-6">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#localSignupModal">For Locals</button>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Developed by Gordon Lo, Devin Touba, Imtiaz Hssan, and Dixon Jin</p>
        </footer>

    </div>
</body>

</html>